.give-star {
  font-size: 40rpx;
  line-height: 90rpx;
  padding-left: 60rpx;
  border-bottom: 2rpx solid #efefef;
  text {
    margin-left: 10rpx;
    color: #f4e6bd;
  }
  .active {
    color: #ffd80d;
  }
}
.text-input {
  box-sizing: border-box;
  width: 100%;
  padding: 20rpx;
  height: 270rpx;
  border-bottom: 20rpx solid #efefef;
}
.up-photo {
  display: flex;
  flex-wrap: wrap;
  .photos-wrap {
    width: 32%;
    margin-right: 2rpx;
    .photos {
      width: 100%;
      height: 200rpx;
    }
    .del-photo {
      text-align: center;
      line-height: 40rpx;
      border: 1rpx solid #efefef;
      border-radius: 10rpx;
      font-size: 20rpx;
    }
  }
}
.up-photo-icon {
  border: 1rpx dotted #eee;
  text-align: center;
  line-height: 100rpx;
}
.in-money {
  font-size: 24rpx;
  display: flex;
  border-bottom: 20rpx solid #efefef;
  line-height: 55rpx;
}
.no-name {
  padding-left: 20rpx;
  font-size: 24rpx;
}
.grade-text {
  font-size: 22rpx;
  text-align: center;
  color: #efefef;
}
.grade-btn {
  color: #fff;
  line-height: 60rpx;
  background-color: #f00;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.menu2-comment {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 30rpx;
  .menu2-comment-item {
    font-size: 24rpx;
    padding: 10rpx 10rpx;
    text-align: center;
    line-height: 30rpx;
    border-radius: 30rpx;
    color: #a67c52;
    border: 1rpx solid #a67c52;
    margin: 10rpx;
  }
  .active {
    color: #603813;
    background-color: #fdf899;
  }
}