// 顶部搜索
.search {
  display: flex;
  align-items: center;
  padding: 20rpx;
  height: 90rpx;
  box-sizing: border-box;
  .search-site {
    font-size: 26rpx;
    margin-right: 40rpx;
    color: #ed4d30;
  }
  .search-site::after {
    right: -25rpx;
    border-color: #ed4d30;
    transform: translateY(-75%) rotateZ(135deg);
  }
  .search-in {
    flex: 1;
    height: 53rpx;
    border: 1rpx solid #eee;
    border-radius: 15rpx;
    font-size: 24rpx;
    padding-left:48rpx;
    box-sizing: border-box;
    position: relative;
    font-weight: 600;
  }
  .search-in::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
  }
}
// nav
.nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10rpx;
  border-bottom: 11rpx solid #eee;
  .iconfont {
    position: relative;
    margin-top: 130rpx;
    font-size: 30rpx;
  }
  .iconfont::before {
    font-size: 80rpx;
    position: absolute;
    top: -270%;
    left: 15%;
  }
  .iconfont:nth-child(1)::before {
    color: #f95845;
  }
  .iconfont:nth-child(2)::before {
    color: #4cbafa;
  }
  .iconfont:nth-child(3)::before {
    color: #fcdb1b;
  }
}
// hot-shop
.hot-shop {
  border-bottom: 11rpx solid #eee;
}
.hot-shop-wrap {
  display: flex;
  flex-wrap: wrap;
  .hot-shop-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size: 26rpx;
    width: 250rpx;
    height: 250rpx;
    border: 1rpx solid #eee;
    border-left: none;
    margin-top: -1rpx;
    .hot-shop-img {
      width: 172rpx;
      height:129rpx;
    }
  }
}
// near-shop
.near-shop-content {
  display: flex;
  padding: 20rpx;
  border-top: 2rpx solid #efeff4;
  border-bottom: 8rpx solid #efeff4;
  .near-shop-img {
    width: 180rpx;
    height: 130rpx;
  }
}
.near-shop-detail {
  padding-left: 20rpx;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  > view {
    margin: 10rpx 0;
  }
  .n-s-c-name {
    font-size: 30rpx;
    font-weight: 600;
  }
  .n-s-c-price {
    font-size: 26rpx;
    color: #ccc;
    position: relative;
    overflow: hidden;
  }
  //.icon-wuxing::after {
  //  content: '\e646';
  //  color: #fbba2c;
  //  position: absolute;
  //  top: 0;
  //}
  //.five-star::after {
  //  left: 0;
  //}
  //.four-star::after {
  //  left: -33rpx;
  //}
  //.three-star::after {
  //  left: -66rpx;
  //}
  //.two-star::after {
  //  left: -99rpx;
  //}
  //.one-star::after {
  //  left: -132rpx;
  //}
  //.zero-star::after {
  //  left: -165rpx;
  //}
  .n-s-c-kind {
    font-size: 24rpx;
    color: #ccc;
    padding-bottom: 10rpx;
    border-bottom: 1rpx solid #ccc;
  }
  .n-s-c-status {
    display: flex;
    font-size: 24rpx;
    .n-s-c-s-left {
      background-color: #ec5351;
      color: #fff;
      padding:2rpx 2rpx;
    }
    .n-s-c-s-center {
      padding-left: 12rpx;
      color: #ccc;
    }
    .n-s-c-s-right {
      flex: 1;
      text-align: right;
      color: #f03c3c;
    }
  }
}